:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #F2C164;
  background-color: #455962;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #F2C164;
  text-decoration: inherit;
}
a:hover {
  color: #00A693;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #455962;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #F2C164;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #264653;
  color: #F2C164;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #00A693;
  background-color: #00A693;
  color: #264653;
}
button:focus,
button:focus-visible {
  outline: 4px auto #F2C164;
}